<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>NTDXMJ87SF.com.alightcreative.motion</string>
	</array>
	<key>com.apple.developer.team-identifier</key>
	<string>NTDXMJ87SF</string>
	<key>application-identifier</key>
	<string>NTDXMJ87SF.com.alightcreative.motion</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.user-fonts</key>
	<array>
		<string>app-usage</string>
	</array>
	<key>com.apple.developer.devicecheck.appattest-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:alightcreativestaging.page.link</string>
		<string>applinks:alightcreative.page.link</string>
		<string>applinks:alight.link</string>
		<string>applinks:alight.page.link</string>
		<string>applinks:alightcreative.com</string>
		<string>applinks:alightcreativestaging.com</string>
		<string>applinks:alight-creative.firebaseapp.com</string>
		<string>applinks:alight-creative-staging.firebaseapp.com</string>
	</array>
	<key>aps-environment</key>
	<string>production</string>
</dict>
</plist>