<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414370328124-7sf6j4od5jsp4ggegbbjfaj1uutbpf8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414370328124-7sf6j4od5jsp4ggegbbjfaj1uutbpf8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>414370328124-jlmiusfbigbksooq8bjhlelmipn53e0i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVtn-wKgkQmkVclv4iV4Vm8gK95InfFHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>414370328124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alightcreative.motion</string>
	<key>PROJECT_ID</key>
	<string>alight-creative</string>
	<key>STORAGE_BUCKET</key>
	<string>alight-creative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414370328124:ios:f1394131c8b84de3</string>
	<key>DATABASE_URL</key>
	<string>https://alight-creative.firebaseio.com</string>
</dict>
</plist>