<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085723979695-cfcinsv182olfqnbt423lllvqdtck5be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085723979695-cfcinsv182olfqnbt423lllvqdtck5be</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1085723979695-4hfs9iaqrrlhuepukut08m02e1efu72i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASZZe652BzRQPeWLwE2IK_VbbImr3jtj8</string>
	<key>GCM_SENDER_ID</key>
	<string>1085723979695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alightcreative.motion</string>
	<key>PROJECT_ID</key>
	<string>alight-creative-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>alight-creative-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085723979695:ios:f1394131c8b84de3</string>
	<key>DATABASE_URL</key>
	<string>https://alight-creative-staging.firebaseio.com</string>
</dict>
</plist>